{% extends "base.html" %}
{% block title %}Automatic Exam Filler{% endblock %}
{% block content %}
<div class="bg-primary">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link h4" href="#"><center> Automatic Exam Filler</center></a>
          </li>
          </ul>
      </nav>
<div class="container-fluid p-3 sticky-top bg-secondary text-white">
<div class="row justify-content-md-center">
<div class="col-md-10">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-black-50">Preencha com suas informações</h5>
    <div class="table-responsive">

      <form action="#" method="POST" enctype=multipart/form-data>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01" >Arquivo geral (todos os testes)</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="file" accept=".pdf" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01" ></label>
            </div>
        </div>
        
        <!-- Antigo -->
        <!-- <div class="form-group">
            <label for="FormControlFile"></label>Arquivo Geral (Todos os Testes):</label>
            <input type="file" class="form-control-file" name="file" accept=".pdf">
        </div> -->
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Página do seu gabarito</span>
            </div>
            <input type="number" class="form-control" id="page" name="page" min="1" max="1000" placeholder="">
        </div>
        
        <!-- <div class="form-group">
            <label for="quantity">Página do seu gabarito</label>
            <input type="number" id="page" name="page" min="1" max="1000"> 
    </div> -->

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome e sobrenome</span>
        </div>
        <input type="text" class="form-control" placeholder="Fulano da Silva" name="name" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    
    <!-- <div class="form-group">
        <label for="InputName">Nome e Sobrenome:</label>
        <input type="text" class="form-control" name="name" placeholder="Nome e Sobrenome">
    </div> -->
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Matrícula</span>
        </div>
        <input type="text" class="form-control" name="id"  maxlength = "9" placeholder="9 dígitos da sua matrícula">
    </div>
   <!-- <div class="input-group mb-3">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label text-black-50" for="customSwitch1">Ative para marcar somente 5 questões</label>
    </div>
  </div> -->

    <!-- Recomendo que minimize -->
    <table class="table table-striped table-light table-responsive-md">
        <thead>
          <tr>
            <th scope="col">Questão</th>
            <th scope="col">Alternativa</th>
            <th scope="col">Questão</th>
            <th scope="col">Alternativa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1A" value = "A" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1B" value = "B" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1C" value = "C" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1D" value = "D" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1E" value = "E" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1E">E</label>
              </div>
            </td>
            <th scope="row">7</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline7A" value = "A" name="customRadioInline7" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline7A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline7B" value = "B" name="customRadioInline7" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline7B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline7C" value = "C" name="customRadioInline7" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline7C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline7D" value = "D" name="customRadioInline7" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline7D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline7E" value = "E" name="customRadioInline7" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline7E">E</label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2A" value = "A" name="customRadioInline2" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2B" value = "B" name="customRadioInline2" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2C" value = "C" name="customRadioInline2" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2D" value = "D" name="customRadioInline2" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2E" value = "E" name="customRadioInline2" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2E">E</label>
              </div>
            </td>
            <th scope="row">8</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline8A" value = "A" name="customRadioInline8" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline8A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline8B" value = "B" name="customRadioInline8" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline8B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline8C" value = "C" name="customRadioInline8" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline8C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline8D" value = "D" name="customRadioInline8" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline8D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline8E" value = "E" name="customRadioInline8" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline8E">E</label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3A" value = "A" name="customRadioInline3" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3B" value = "B" name="customRadioInline3" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3C" value = "C" name="customRadioInline3" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3D" value = "D" name="customRadioInline3" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3E" value = "E" name="customRadioInline3" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline3E">E</label>
              </div>
            </td>
            <th scope="row">9</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline9A" value = "A" name="customRadioInline9" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline9A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline9B" value = "B" name="customRadioInline9" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline9B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline9C" value = "C" name="customRadioInline9" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline9C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline9D" value = "D" name="customRadioInline9" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline9D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline9E" value = "E" name="customRadioInline9" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline9E">E</label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline4A" value = "A" name="customRadioInline4" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline4A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline4B" value = "B" name="customRadioInline4" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline4B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline4C" value = "C" name="customRadioInline4" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline4C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline4D" value = "D" name="customRadioInline4" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline4D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline4E" value = "E" name="customRadioInline4" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline4E">E</label>
              </div>
            </td>
            <th scope="row">10</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline10A" value = "A" name="customRadioInline10" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline10A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline10B" value = "B" name="customRadioInline10" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline10B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline10C" value = "C" name="customRadioInline10" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline10C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline10D" value = "D" name="customRadioInline10" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline10D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline10E" value = "E" name="customRadioInline10" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline10E">E</label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline5A" value = "A" name="customRadioInline5" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline5A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline5B" value = "B" name="customRadioInline5" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline5B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline5C" value = "C" name="customRadioInline5" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline5C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline5D" value = "D" name="customRadioInline5" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline5D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline5E" value = "E" name="customRadioInline5" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline5E">E</label>
              </div>
            </td>
            <th scope="row">11</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline11A" value = "A" name="customRadioInline11" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline11A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline11B" value = "B" name="customRadioInline11" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline11B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline11C" value = "C" name="customRadioInline11" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline11C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline11D" value = "D" name="customRadioInline11" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline11D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline11E" value = "E" name="customRadioInline11" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline11E">E</label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline6A" value = "A" name="customRadioInline6" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline6A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline6B" value = "B" name="customRadioInline6" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline6B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline6C" value = "C" name="customRadioInline6" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline6C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline6D" value = "D" name="customRadioInline6" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline6D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline6E" value = "E" name="customRadioInline6" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline6E">E</label>
              </div>
            </td>
            <th scope="row">12</th>
            <td><div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline12A" value = "A" name="customRadioInline12" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline12A">A</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline12B" value = "B" name="customRadioInline12" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline12B">B</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline12C" value = "C" name="customRadioInline12" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline12C">C</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline12D" value = "D" name="customRadioInline12" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline12D">D</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline12E" value = "E" name="customRadioInline12" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline12E">E</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table></div>
    
    <button type=submit value=Upload class="btn btn-secondary btn-lg btn-block">Enviar</button>
    <!-- <div class="form-group row">
        <div class="col-sm-10">
            <input type=submit value=Upload>
            
        </div> -->
       </div></div> 
    </form>
</div>
</div>
</div>

</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright and Social-->
  <div class="text-dark text-center p-3">
      © 2021 Rener Oliveira -
        <a href="https://github.com/reneroliveira" class="fa fa-lg fa-github"></a> 
        <a href="https://www.linkedin.com/in/reneroliv/" class="fa fa-lg fa-linkedin"></a>      
        <a href="mailto:rener.oliveira@fgv.edu.br" class="fa fa-lg fa-envelope"></a>
  </div>
  <!-- Copyright and Social-->
</footer>
<script type="text/javascript">
    $('.custom-file-input').change(function (e) {
        if (e.target.files.length) {
            $(this).next('.custom-file-label').html(e.target.files[0].name);
        }
    });
    btnq6 = document.getElementById('customSwitch1')
    btnq6.onclick = () => { for (item of ['A','B','C','D','E']) {
      q6 = document.getElementById('customRadioInline6' + item)
      if (btnq6.checked == true){
        q6.disabled = true;
        q6.checked = false;
      } else {
        q6.disabled = false;
      }
    }}
</script>
{% endblock %}